* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.background {
	background-color: #1a1c37;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.button {
	border-radius: 100%;
	cursor: pointer;
	place-items: center;
	background-position: center;
	background-size: 210px;
	height: 200px;
	width: 200px;
	background-color: #1a1c37;
	outline: none;
	border: none;
}

.button:active {
	transform: scale(0.9);
}

.thumbs-up {
	background-image: url('/thumbs-up.png');
}

.thumbs-down {
	background-image: url('/thumbs-down.png');
}
